/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#2daae4;
    height:100%;
    width:100%;
}

button {
    background-color: #20759c;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    width: 25%; 
}

h1 {
    color: #ffffff;
}

h2 {
    font-size: 60px;
}

p {
    color: #ffffff;
}

.wrapper {
    width: 100%;
}

.openingtext {
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    float: left;
}

.settingslink {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

.gear {
    float: right;
    width: 50px;
    height: 50px;
    display: block;
    padding-right: 30px;
}

.textinput {
    width: 80%;
    height: 350px;
    background-color: #ffffff;
    color: #000000;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.title {
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    border-bottom: 3px solid white;
    width: 100%;
    float: left;
}

.back {
    width: 75px;
    height: 50px;
    float: left;
}

.backlink {
    width: 100%;
    float: left;
}

.settingsoptions {
    border-bottom: 3px solid white;
    width: 100%;
    float: left;
    padding-bottom: 1%;
    padding-top: 1%;
}

.firstbutton {
    width: 95%;
    float: left;
}

.speakbutton {
    width: 100%;
    float: left;
    margin-top: 20px;
}

.speak {
    padding-left: 100px;
    padding-right: 100px;
}

.speaker {
    width: 100%;
    float: left;
    margin: 10%;
    margin-top: 20%;
    margin-bottom: 20%;
}

.speakerimage {
    width: 80%;
}

.wrapper a {
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
}